<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vulkano Soft</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <style>
      :root {
        --primary-color: #004a80; /* Azul oscuro corporativo */
        --text-aside-color: rgb(69, 101, 156);
      }
      body {
        font-family: 'Roboto', sans-serif;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <!-- Encabezado estilo sistema -->
    {% include 'header.html' %}

    {% block content %}

    {% endblock %}
  </body>
</html>
